<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
    <img class="logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/7306187553557.560ad6bc13952.png">
   
    <form>
        <h1 class="title">
            <span>{{title}}</span>
          </h1>
      <label for="username">{{username}}</label>
      <input name="username" id="username" />
      <label for="password">{{password}}</label>
      <input name="password" id="password" />
      <button>{{login}}</button>
      <button>{{signup}}</button>
    </form>
</div>
