.app-component {
    background-image: url("./~/assets/backgroundImage.jpg");
    text-align:center;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    bottom: 0;
    position: fixed;

    .title {
        padding-top: 5px;
        font-family: cursive;
        font-size: 70px;
        color: red;
        margin-top: -40px;
        position: relative;
        z-index: 1;   
        font-weight: bold;    
    }
    
    button{
        min-width: 100px;
        padding: 5px;
        margin-top: 5px;
        font-size: 15px;
    }

    .logo{
        width: 380px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.logo
        {animation-timing-function: linear;}
    

    form {
        background-color: white;
        margin-top: -30px;
    }
    h3.subtitle{
        font-size: 20px;
        font-family: cursive;
    }

    // animation
    #logo {
        animation-duration: 2s;
        animation-delay: 1s;
      }
    
    #form {
        animation-duration: 5s;
        animation-delay: 1s;
      }

}
// Extra small devices - Portrait phones 
$screen-xxs-max: 544px;
// small  - Landscape phones
$screen-xs-min: 544px;
$screen-xs-max: 768px; 
// Medium devices - Tablets 
$screen-sm-min: 768px;
$screen-sm-max: 992px;
//Large devices - Desktops
$screen-md-min: 992px;
$screen-md-max: 1200px;
// Extra large devices - Desktops 
$screen-lg-min: 1200px;

/* Midium devices (tablets, 768px and up) */
@media (max-width: $screen-sm-max) { 

    .app-component{
        .title {
            font-size: 50px;
        }
        form{
            margin: 0px;
        }

        button{
            width: 60%;
        }
    }
 }
/* Midium devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min){
    .col-sm-offset-2 {
        margin-left: 0px;
   }
}
/* small  - Landscape phones */
@media (max-width: $screen-xs-max) { 
    .app-component{
        background-image: none;
        form{
            margin-left: 40px;
            margin-right: 40px;
        }
        button{
         width: 100%;
        }
        .title{
            font-size: 30px;
        }
        .logo{
            width: 250px;
        }
    }
 }
//Large devices - Desktops
@media (min-width: $screen-md-min){ 
    form{
        width: 30%;
        display: inline-block;
    }
 }

 // Extra large
 @media (min-width: $screen-lg-min) { 
    .logo{
        padding-top: 5px;
    }
 }