<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
  
<div class=content>
  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/7306187553557.560ad6bc13952.png" width="200" height="200">
  <h1 class="title">
    {{title}}
   </h1>
   <form>
     <label for="username">{{username}}</label>
     <input name="username" id="username"/>
     <label for="password">{{password}}</label>
     <input name="password" id="password"/>
     <button>{{login}}</button>
     <button>{{signup}}</button>
   </form>
        <img class="gif" src="http://www.animated-gifs.eu/category_kitchen/kitchen-fast-food/0032.gif" width="100" height="80">  
</div>
</div>
