<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component img-responsive">
  <div class="center">
  <img class="logo img-responsive animated rotateIn" src="./assets/chef.png" id="logo">
  <form class="form-horizontal animated fadeIn" role="form" id="form" (ngSubmit)="onSubmit()">
      <h1 class="title">
          <span>Live</span>
          <span>Chef</span>
      </h1>
      <h3 class="subtitle">Cooking made simple</h3>

      <div class="form-group">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
                    <input class="form-control left-border-none" placeholder="Enter username" type="text" name="username" [(ngModel)]="model.username">
                </div>
              </div>
      </div>

      <div class="form-group">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock"></span></span>
                    <input class="form-control left-border-none" placeholder="Enter password" type="text" name="password" [(ngModel)]="model.password">
                </div>
              </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-10">
              <button type="submit" class="btn btn-default" (click)="login()">Login</button>
              <button type="button" class="btn btn-default disabled">Signup</button>
          </div>
          <button type="button" class="btn btn-link btn-lg" (click)="loginAsGuest()">I'm just looking</button>            
      </div>
  </form>
</div>
</div>